Backup/StreamingApp/Service References/StreamingServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Termors.Services.Tv.MPStreamingInterface" />
  <xs:element name="GetChannelList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Termors.Services.Tv.MPStreamingInterface" minOccurs="0" name="GetChannelListResult" nillable="true" type="q1:ChannelList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartStreaming">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="record" type="xs:boolean" />
        <xs:element minOccurs="0" name="copyToFtp" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartStreamingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Termors.Services.Tv.MPStreamingInterface" minOccurs="0" name="StartStreamingResult" nillable="true" type="q2:StreamingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopStreaming">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Termors.Services.Tv.MPStreamingInterface" minOccurs="0" name="stresult" nillable="true" type="q3:StreamingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopStreamingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamingStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamingStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Termors.Services.Tv.MPStreamingInterface" minOccurs="0" name="GetStreamingStatusResult" nillable="true" type="q4:ArrayOfStreamingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfiguration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Termors.Services.Tv.MPStreamingInterface" minOccurs="0" name="GetConfigurationResult" nillable="true" type="q5:StreamingSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Termors.Services.Tv.MPStreamingInterface" minOccurs="0" name="settings" nillable="true" type="q6:StreamingSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfigurationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>